.left-message {
  display:flex;
  justify-content: flex-start;
}

.right-message {
  display:flex;
  justify-content: flex-end;
}

.message-container{
  display:flex;
  flex-direction:column;
  margin-bottom:10px;
}

.journey-container {
  width: 60%;
  margin: auto;
}

.message-textarea {
  width: 100%;
  height: 200px;
}

.message-content {
  margin:0 2px 0 0;
  white-space: pre; 
}

.message-info {  
  margin:0;
  font-size: $font-size-extra-small;
}

.earnings-calculation-container {
  text-align:center;
}